*
{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.slider 
{
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.slika 
{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: red;
}
.slide_content
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    text-align: center;
    color: white;
    font-size: 2.5vw;
}
.slide_button 
{
    cursor: pointer;
    font-size: 1vw;
    color: white;
    background-color: #21409a;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    transition: all 0.3s ease-in-out;
}
.slide_button:hover 
{
    background-color: white;
    color: #21409a;
    transition: all 0.3s ease-in-out;
}
.active_right 
{
    display: block;
    animation: slide_right_anim 1s forwards;
}
.active_left
{
    display: block;
    animation: slide_left_anim 1s forwards;
}
.active_right img, .active_left img 
{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.fa-arrow-right
{
    color: white;
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.fa-arrow-left
{
    color: white;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.fa-arr:hover 
{
    opacity: 0.5;
    transition: all 0.3s ease-in;
}
.selectors 
{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    gap: 15px;
}
.selectors .fa-square
{
    font-size: 20px;
    color: white;
    left: 50%;
    bottom: 3%;
}
.fa-square:hover
{
    cursor: pointer;
}
.selectors .active-square
{
    animation: square_anim_1 1s forwards;
}
.selectors .unactive-square
{
    animation: square_anim_2 1s forwards;
}
@keyframes slide_right_anim {
    0%
    {
        transform: translateX(-100%);
        filter: blur(7px);
    }
    100% 
    {
        transform: translateX(0%);
        filter: blur(0px);
    }
}
@keyframes slide_left_anim {
    0%
    {
        transform: translateX(100%);
        filter: blur(7px);
    }
    100% 
    {
        transform: translateX(0%);
        filter: blur(0px);
    }
}
@keyframes square_anim_1 {
    0%
    {
        color: white;
        font-size: 20px;
    }
    100%
    {
        color: #21409a;
        font-size: 25px;
    }
}
@keyframes square_anim_2 {
    0%
    {
        color: #21409a;
        font-size: 25px;
    }
    100%
    {
        color: white;
        font-size: 20px;
    }
}

@media screen and (max-width: 767px)
{
    .slide_content
    {
        font-size: 4vw;
    }
}